*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans Korean";
}
a{
    text-decoration: none;
    color: #82D580;
}
li, ol, ul{
    list-style: none;
}
body{
    overflow-x: hidden;
}